{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block page %}
    <a href="/signup" class="brand-logo">Sign Up</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li> <a href="/">Login</a> </li>
        </ul>
{% endblock %}

{{ super() }}

{% block content %}
    <div class="container">

        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="/signup">

            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                <input id="email" type="text" class="validate" name = "email">
                <label for="email">Email</label>
                </div>

            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                <input id="user_name" type="text" class="validate" name = "username">
                <label for="user_name">UserName</label>
                </div>

            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                <input id="password" type="password" class="validate" name = "password">
                <label for="password">Password</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light right" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>

            </form>


        </div>
    </div>
  
{% endblock %}